h1{
	color:#1889AB;
	text-align: center;
}

h5{
	font-family:arial; 
	text-align:center;
}

img{
	height:300px;
	width:500px;
	
}




.hall{

	padding-bottom: 50px;
	padding-top: 50px; 
	padding-left: 50px;
	padding-right: 50px;


}

body{
background-position: absolute;
}