/*external stylesheet for clubs and societies page*/

body 
{
   /*background image*/
 	background: url(background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 70px;
  padding-bottom: 30px;
}



.theme-dropdown .dropdown-menu 
{
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn 
{
  margin: 5px 0;
}

.theme-showcase .navbar .container 
{
  width: auto;
}

h1
{
  font color: #ffffff;
}

h3
{
  color: #ffffff;
  margin-left: 50px;
}

img
{
  left: 20px;
  margin-left: 100px;
  box-shadow: 10px 10px 5px #b8b894;
  border-radius: 8px;
}

.test1
{
	border-radius: 50px 10px 10px 15px;
	border: 2px outset black;  
    width: 700px;
    height: 200px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.test2
{
	border-radius: 50px 10px 10px 15px;
	border: 2px outset black;  
    width: 700px;
    height: 310px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.test3
{
	border-radius: 50px 10px 10px 15px;
	border: 2px outset black;  
    width: 700px;
    height: 70px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.test4
{
	border-radius: 50px 10px 10px 15px;
	border: 2px outset black;  
    width: 700px;
    height: 15px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.test5
{
	border-radius: 50px 10px 10px 15px;
	border: 2px outset black;  
    width: 700px;
    height: 200px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.test6
{
	border-radius: 50px 10px 10px 15px;
	border: 2px outset black;  
    width: 700px;
    
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.right1
{
	position: absolute;
	right: 30px;
	top: 270px;
	text-align: justify;
	color: white;
}

.right2
{
	position: absolute;
	right: 30px;
	top: 500px;
	text-align: justify;
	color: white;
}

.right3
{
	position: absolute;
	right: 30px;
	top: 900px;
	text-align: justify;
	color: white;
}

.right4
{
	position: absolute;
	right: 30px;
	top: 1150px;
	text-align: justify;
	color: white;
}

.right5
{
	position: absolute;
	right: 30px;
	top: 1400px;
	text-align: justify;
	color: white;
}

.right6
{
	position: absolute;
	right: 30px;
	top: 1750px;
	text-align: justify;
	color: white;
}







